/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/
//Homepage

body {
    background-color: #222222;
    margin: auto;
    height: 20vh;
    width: 100vw;

    @include tablet {
        width: 800px;
    }
    @include desktop{
        width: 1080px;
    }

    .nav-previous {
        display: none;
    }
    @include desktop{
        .site-content{
            margin: 4.5rem 175px 1.5rem;
            position: relative;
        }
    }
    .entry-content {
        .meta-content {
            a {
                text-decoration: none;
                color: $green;
            }

            display: inline-flex;

            @include desktop {
                .metah2 {
                    margin-left: 9px;
                }
            }
        }

        h2 {
            color: white;
            font-family: 'Exo';
            font-weight: 300;
            font-size: 1.2rem;
            margin-left: 5px;

            @include desktop {
                display: flex;
                width: auto;
                margin: auto;
            }
        }

        p {
            color: white;
            font-family: 'Exo';
            font-weight: 300;
            font-style: normal;
            font-size: auto;
            margin-left: 10px;
        }

        @include tablet {
            p {
                font-size: 2.25rem;
            }
        }

        @include desktop {
            position: relative;
            p {
                font-size: 2.25rem;
                margin: auto;
                width: 800px;
            }

            &:before,
            &:after {
                color: $green;
                font-family: 'FontAwesome';
                font-size: 125px;
                position: absolute;
                top: 0;
                overflow: hidden;
                line-height: 125px;

            }

            &:before {
                content: '\f10d';
                left: -190px;
            }

            &:after {
                content: '\f10e';
                bottom: -20;
                right: -190px;
            }
        }
    }

    .new-quote-button {
        margin-top: 20px;
        margin-left: 10px;
        background-color: #222222;
        border: 2px solid $green;
        border-radius: 3px;
        color: $green;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        padding: .75rem 2.25rem;
        font-family: 'Exo';

        &:focus {
            outline: none;
        }

        &:hover {
            color: $green-hover;
        }

        @include tablet {
            background-color: #222;
            border: 2px solid $green;
            border-radius: 3px;
            color: $green;
            font-size: 1.5rem;
            font-weight: 700;
            line-height: 1;
            padding: 1rem 3.25rem;
        }

        @include desktop {
            display: flex;
            margin: auto;
            justify-content: center;
        }
    }
}

.site-branding {
    display: flex;
    justify-content: left;
    margin-top: 60px;
    padding-left: 10px;

    img {
        height: 50px;
        display: flex;
    }

    @include tablet {
        img {
            height: 100px;
            display: flex;
        }
    }

    @include desktop {
        a {
            height: 115px;
            display: block;
            margin: 0 auto;
        }
    }
}

footer {
    margin-top: 80px;
   display: inline-flex;
   @include desktop{
       display: unset;
   }
    .site-info {
        font-family: 'Exo';
        font-weight: 300;

        @include tablet {
            display: flex;
            flex-direction: column;
        }

        @include desktop {
            width: 100%;
            flex-direction: row;
            display: inline-flex;
            justify-content: flex-end;


        }

        p {
            color: white;
            margin-left: 5px;

            a {
                color: $green;
                text-decoration: none;
            }

            @include tablet {
                padding-left: 5px;
                margin: 0;

            }
            @include desktop{
                margin-top: 5px;
            }
        }

        ul {
            list-style: none;
            margin: 0;
            padding: 0;
            display: inline-flex;

            li a {
                color: $green;
                text-decoration: none;
                margin: 5px;
                padding-right: 15px;
                border-right: 1px solid white;

                &:hover {
                    color: $green-hover;
                }
            }
        }
    }
}

//About Page
.about {
    font-family: 'Exo';
    @include tablet{
        width: 800px;
    }
    .entry-title {
        font-weight: 300;
        margin-left: 20px;
        color: white;
    }

    .entry-content {
        p {
            padding: 10px 20px;
            text-align: left;
            font-size: 16px;

            a {
                text-decoration: none;
                color: $green;

                &:hover {
                    color: $green-hover;
                }
            }
        }
    }
}

/* All Archives Page */

.archives{
    width: 800px;
    margin-bottom: 250px;
    h1{
        padding: 10px;
        font-family: 'Exo';
        color : white;
        font-weight: 300;
        font-size: 28px;
    }
    a{
        float: left;
        font-family: 'Exo';
        padding: 5px;
        font-weight: 300;
        color : $green;
        text-decoration: none;
    }
}
//Category and tag
.tag{
    width: 800px;
    .page-title{
        font-family: 'Exo';
        font-weight: 300;
        color: white;
        padding-bottom: 30px;
        border-bottom: 1px dotted white;
    }
}
.category{
    width: 800px;
    .page-title{
        font-family: 'Exo';
        font-weight: 300;
        color: white;
        padding-bottom: 30px;
        border-bottom: 1px dotted white;
    }
.post{
    padding-bottom: 40px;
    border-bottom: 1px dotted white;
}
    @include desktop {
        width: 800px;
        position: relative;
        &:before,
        &:after {
            color: $green;
            font-family: 'FontAwesome';
            font-size: 125px;
            position: absolute;
            top: 0;
            overflow: hidden;
            line-height: 125px;

        }

        &:before {
            content: '\f10d';
            left: -160px;
        }

        &:after {
            content: '\f10e';
            bottom: -20;
            right: -160px;
        }
    }
    div.entry-content::before{
        display: none;
    }
    div.entry-content::after{
        display: none;
    }
    .description p{
        padding: 10px;
        text-align: left;
    }
}
/* Submit a Quote Page */