/* Submit a Quote Page */
.submit {
    width: auto;
    display: flex;
    padding-left: 4px;

    input {
        background-color: $color__background-screen;
        border: 2px solid $green;
        width: 60%;

        &:focus {
            outline: none;
            color: white;
            font-family: $font__main;
        }
    }

    input#submit-button {
        font-family: $font__main;
        width: 130px;
        display: flex;
        justify-content: center;
    }

    input#quote-content-field {
        width: 100%;
        height: 80px;
    }

    #submit-button {
        margin-top: 20px;
        background-color: $color__background-screen;
        border: 2px solid $green;
        border-radius: 3px;
        color: $green;
        font-size: 1rem;
        font-weight: 700;
        line-height: 1;
        padding: .75rem 2.25rem;

        &:focus {
            outline: none;
        }

        &:hover {
            color: $green-hover;
        }

        @include tablet {
            background-color: $color__background-screen;
            border: 2px solid $green;
            border-radius: 3px;
            color: $green;
            font-size: 1rem;
            font-weight: 700;
            line-height: 1;
            padding: .50rem 2.25rem;
        }

        @include desktop {
            display: flex;
            justify-content: flex-start;
        }
    }
}
